streamlit

langchain-core
langchain-community
langchain-huggingface
langchain-text-splitters

sentence-transformers
transformers
huggingface_hub

faiss-cpu

python-dotenv
pandas
numpy
requests
youtube-transcript-api
certifi
torch


